*.class
.gradle
/build/
/bin/
/classes/
/.settings/
.project
.classpath
src/node_modules
src/**/node_modules
src/**/build/*
src/**/.gradle/*
src/**/out/*

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless

## Terraform state
*.terraform
*.tfstate

# Idea
.idea/
ski-analytics-services.iml
src/common/gradle/wrapper/gradle-wrapper.properties
/infra/stacks/shared/.terraform/
/infra/stacks/data/.terraform/
