*.class
.gradle
/build/
/bin/
/.settings/
.project
.classpath
src/node_modules
src/**/build/*
src/**/.gradle/*
src/**/out/*

# Package Files
*.jar
*.war
*.ear

# Serverless directories
.serverless

# Idea
.idea/
ski-analytics-services.iml
src/layers/gradle/wrapper/gradle-wrapper.properties
