{
"version": "2017-02-28",
"operation": "UpdateItem",
"key": {
"id": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
},
"update" : {
"expression" : "SET hrZones= :hrZones",
"expressionValues" : {
":hrZones" :  $util.dynamodb.toDynamoDBJson($ctx.args.hrZones)
}
}
}