{
"version": "2017-02-28",
"operation": "UpdateItem",
"key": {
"id": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
},
"update" : {
"expression" : "SET gender= :gender",
"expressionValues" : {
":gender" :  $util.dynamodb.toDynamoDBJson($ctx.args.gender)
}
}
}