{
    "version": "2012-02-28",
    "operation": "PutItem",
    "key": {
        "UserId": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    },
    "attributeValues": {
        "hrZones": $util.dynamodb.toDynamoDBJson($ctx.args.hrZones)
    }
}
